

@font-face {
  font-family: 'Poppins-Regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Poppins-Regular'),
  url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
  url('../assets/fonts/Poppins-Regular.woff') format('woff'),
  url('../assets/fonts/Poppins-Regular.ttf') format('truetype'),
  url('../assets/fonts/Poppins-Regular.eot') format('embedded-opentype');

}

@font-face {
  font-family: 'Poppins-Medium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Poppins-SemiBold'),
  url('../assets/fonts/Poppins-Medium.woff2') format('woff2'),
  url('../assets/fonts/Poppins-Medium.woff') format('woff'),
  url('../assets/fonts/Poppins-Medium.ttf') format('truetype'),
  url('../assets/fonts/Poppins-Medium.eot') format('embedded-opentype');

}

@font-face {
  font-family: 'Poppins-SemiBold';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Poppins-SemiBold'),
  url('../assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
  url('../assets/fonts/Poppins-SemiBold.woff') format('woff'),
  url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype'),
  url('../assets/fonts/Poppins-SemiBold.eot') format('embedded-opentype');
}

