@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  background-color: rgba(254, 203, 5, 0.7);
  font-family: 'Poppins-Regular', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@import '../styles/fonts';
@import '../styles/header';
@import '../styles/banner';