@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import "../../../node_modules/foundation-sites/scss/foundation";
@import '../styles/breakpoints';

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins-Regular', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 {
  font-family: "Fredoka One";
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0;
  line-height: 4rem;

  @include breakpoint-medium-down {
    text-align: center;
  }
}

.home-page {
  background-color: #FFFFFF;
}

@import '../styles/fonts';
@import '../styles/header';
@import '../styles/banner';
@import '../styles/timeline';
@import '../styles/about-katha';
@import '../styles/katha-history';
@import '../styles/mentors';
@import '../styles/process';
@import '../styles/timer';
@import '../styles/bulk-details';